<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <em>{{title}}</em>
    <p>This is a Django template</p>
    <img src="{% static "images/image.png" %}" alt="image" style="max-width: 200px" />

    <h1>Here are your access records</h1>
    {% if access_records %}
    <table>
        <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
        </thead>
        <tbody>
            {% for acc in access_records %}
            <tr>
                <td>{{acc.name}}</td>
                <td>{{acc.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>NO ACCESS RECORDS FOUND!</p>
    {% endif %}
</body>
</html>